<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionString>
		<add name="MyDbconnection" connectionString="Server=localhost;Database= DBSTOCK2024;Trusted_Connection=true;"
			 providerName="Sistem.Data.SqlClient"/>
	</connectionString>
		
</configuration>